/*main color: #509BBA;
  darker: #407F99; */

/**************************
 * NEW CSS
 **************************/
 * {
	margin: 0;
}

body {
	color: black;
	font-family: 'Helvetica Neue', Arial;
}

img.fit {
	width: 100%;
}

.main-content {
	display: block;
	position: relative;
	width: 100%;
	min-height: 70.4%;
	top: 45px;
}

.page-title {
	font-size: 25px;
	font-weight: bold;
	margin-top: 10px;
	line-height: 1;

	display: inline-block;
	text-align: center;
	color: black;
}

.edit-button {
	font-size: 25px;
	font-weight: normal;
	color: #0079FF;
	margin-top: 10px;
	line-height: 1;
	margin-left: 10px;
}

.myTopBar {
	position: fixed;
	top: 0;
	left: 0;

	z-index: 100;

	width: 100%;
	height: 45px;
	background-color: white;
	outline: #d6d6d5 solid 2px;
}

.top-buttons {
	width: 25%;
	height: 100%;
	vertical-align: middle;
	float: left;
}

#arrow-button {
	vertical-align: middle;
	margin-top: 7px;
}
#plus-button {
	height: inherit;
}
#delete-button {
	padding: 30px 16px;
	margin-top: 7px;
}

.myFooter {
	position: fixed;
	bottom: 0;
	left: 0;

	z-index: 100;

	width: 100%;
	height: 50px;
	background: white;
}
.gpa {
	width: 50%;
	color: #0079FF;	
	text-align: center;
	font-size: 35px;
}

.myRow {
	width: 100%;
	height: 110px;
	float: left;
	padding: 15px;

	background-color: #F0F0F0;
}

.overlay {
	display: none;
	opacity:0.85;
	background-color:#000;
	width:100%;
	height:100%;
	z-index:10;
	top:0;
	left:0;
	position:fixed;
}

/*-------SEMESTER VIEW-------*/
#semester-view { 
	margin-bottom: 97.5px; /*APPLY ONLY AFTER 6 SEMESTERS ADDED*/
	min-height: 88%;
	background-color: #ebebeb;
}

.semester {
	display: table;
	width: 100%;
	height: 90px;
	background-color: white;
	color: black;
	outline: #d6d6d5 solid 1px;
}

.semester h2 {
}

.semester .lhs {
	display: none;
	width: 15%;
}
.semester .mid {
	width: 85%;
}
.semester .rhs{
	display: block;
	width: 15%;
}
.semester > div { float: right; }


























